#economy {
	height: 105vh;

	font-size: 4em;

	background-image: linear-gradient(
		to right bottom,
		#2c2c2c,
		#2d2d2d,
		#2e2e2e,
		#2f2f2f,
		#303030,
		#313131,
		#323232,
		#333333,
		#353535,
		#373737,
		#393939,
		#3b3b3b
	);
}
#economy .container-fluid {
	width: 60%;
}
#economy #pollution {
	position: relative;
}
#economy #title {
	position: absolute;
	left: -1em;
	top: -1em;
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
	#economy {
		font-size: 2.6em;
	}
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
	#economy {
		font-size: 2.6em;
	}
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
	#economy {
		font-size: 2.6em;
	}
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
	#economy {
		font-size: 3.5em;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
