#friends {
	height: 105vh;

	font-size: 3.9em;
	text-shadow: 0px 0px 29px rgba(58, 58, 58, 1);
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(166, 137, 131, 0.1)),
		url("../../assets/imgs/friends_ride.jpg") no-repeat center center fixed;
}

#friends .container-fluid {
	width: 80%;
}

#friends #titileRow {
	position: relative;
}

#friends #title {
	position: absolute;

	left: -1em;
	top: -1.2em;

	font-size: 0.65em;
}

#friends .quote {
	font-size: 0.4em;
}
