<section id="friends">
  <div class="container-fluid d-flex align-items-end h-100">
    <div class="row mb-5 pb-5" id="titileRow">
      <div id="title">
        <span>FRIENDS</span>
      </div>
      <div class="col-8">
        <p>
        Many people we work with, have no time for going out afternoon. Car
        is a perfect place for everyday meetings.
        </p>
        <p class="quote text-right w-100">
        “Strangers are just friends waiting to happen.” – Rod Mckuen
        </p>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</section>
