<section id="friends">
  <div class="container-fluid d-flex align-items-center h-100">
    <div class="row" id="titileRow">
      <div id="title">
        <span>FRIENDS</span>
      </div>
      <div class="col-12"></div>
      <p>
        Many people we work with, have no time for going out afternoon. Car
        might be the perfect place for everyday meetings.
      </p>
      <p class="quote text-right w-100">
        “Strangers are just friends waiting to happen.” – Rod Mckuen
      </p>
    </div>
  </div>
</section>
