#aboutme {
	// background: #855e42;
	// background: #c8ad7f;

	background: linear-gradient(rgba(0, 0, 0, 0.33), rgba(166, 137, 131, 0.2)),
		url("../../assets/imgs/cardboard_board.jpg") no-repeat center center;

	-webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);

	padding: 1.0em 0;

	color: black;

	position: relative;
}

#aboutme .middleContainer {
	width: 45%;
}

.profileBox {
	// border: 1px solid rgb(105, 56, 9);
	width: 11em;

	border-radius: 50%;
	overflow: hidden;
}

.profileBox img {
	width: 100%;
	height: auto;
}

.light {
	color: rgb(53, 53, 53);
	font-size: 1.2em;
	font-weight: 300;
}

#name {
	font-size: 1.3em;
	font-weight: 700;
}

ul {
	list-style-type: none;
}

ul li {
	width: 100%;
}

.personalData {
	padding-left: 2.3em;

	position: relative;
}

.personalData span {
	width: 100%;
}

.personalData .arrow {
	position: absolute;
	right: -8em;
	top: -24.5em;
}

.personalData .arrow img {
	height: 40em;
}

.arrowBox {
	// width: 52.5%;

	// position: relative;

	width: 27.5%;
}

.arrowBox:first-of-type {
	transform: scaleX(-1);
}

.arrow1 {
	// position: absolute;
	// right: -5em;
	// top: -2em;
	height: 11em;
}

.arrow1 img {
	height: calc(100%);
	transform: rotate(200deg);
}

// .arrow1 {
// 	position: absolute;
// 	right: -5em;
// 	top: -2em;
// 	height: 100%;
// }

// .arrow1 img {
// 	height: calc(100% + 4em);
// 	transform: rotate(195deg);
// }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
	#aboutme {
		font-size: 1em;
	}
	#aboutme .middleContainer {
		// min-width: 455px;
		width: 100%;
	}
	#aboutme .aboutmeRow {
		-webkit-box-align: center !important;
		-ms-flex-align: center !important;
		align-items: center !important;
	}
	.personalData span {
		text-align: center;
	}
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
	#aboutme {
		// font-size: 2.6em;
	}
	#aboutme .middleContainer {
		// min-width: 455px;
		width: 100%;
	}
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
	#aboutme {
		// font-size: 2.6em;
	}
	#aboutme .middleContainer {
		min-width: 455px;
		width: 100%;
	}
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
	#aboutme .middleContainer {
		min-width: 455px;
		width: 100%;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
