<section class="px-0 mx-0 mb-4 row" id="aboutme">
  <div class="d-none d-xl-flex arrowBox justify-content-center">
    <div class="arrow1">
      <img src="../../assets/imgs/arrow1.png" alt="">
    </div>
  </div>

  <div class="middleContainer">
    <div class="row d-flex flex-column flex-md-row justify-content-end mx-auto aboutmeRow">
        <div class="col-5 d-flex justify-content-end">
          <div class="profileBox">
            <img src="https://fiverr-res.cloudinary.com/t_profile_original,q_auto,f_auto/attachments/profile/photo/3a8870d863f9aada3a1a065519681aeb-1591302617282/a60c6298-b789-426c-9519-e9c0652e9530.jpg" alt="">
          </div>
        </div>
        <div class="col-7 d-flex align-content-around flex-wrap personalData my-3">
          <!-- <ul class="d-flex flex-column align-content-between h-100">
            <li> -->
              <span class="light">HI, IT'S ME!</span>
            <!-- </li>
            <li> -->
              <!-- <br> -->
              <span id="name">NAME SURNAME</span>
            <!-- </li>
            <li> -->
              <!-- <br> -->
              <span class="light">Student at -name- academy :)</span>
            <!-- </li>
          </ul> -->

          <!-- <div class="arrow">
            <img src="../../assets/imgs/arrow.png" alt="">
          </div> -->

        </div>
    </div>
  </div>

  <div class="d-none d-xl-flex arrowBox justify-content-center">
    <div class="arrow1">
      <img src="../../assets/imgs/arrow1.png" alt="">
    </div>
  </div>
</section>
