#travelCondition {
	height: 105vh;

	font-size: 4em;
	background-image: linear-gradient(
		to left top,
		#2c2c2c,
		#2d2d2d,
		#2e2e2e,
		#2f2f2f,
		#303030,
		#313131,
		#323232,
		#333333,
		#353535,
		#373737,
		#393939,
		#3b3b3b
	);
}
#travelCondition .container-fluid {
	width: 60%;
}
#travelCondition #titleArea {
	position: relative;
}
#travelCondition #title {
	position: absolute;
	right: 1em;
	top: -1em;
}
