<section id="travelCondition">
  <div class="container-fluid d-flex align-items-center h-100">
    <div class="row" id="titleArea">
      <div id="title">
        <h1>Travel Conditions</h1>
      </div>
      <div class="col-12">
        <p>
          Year by year, on all over the world becomes more and more vehicles. Travel condition worsen so driving is more
          difficult and this is one of the main problems <i class="d-none d-md-inline-block fas fa-arrow-down"></i>
        </p>
        <div class="d-md-none text-center w-100 pt-3">
          <i class="fas fa-arrow-down"></i>
        </div>
      </div>
    </div>
  </div>
</section>
