<section class="mt-5" id="money">
  <!-- <div class="wings"></div> -->
  <div class="container-fluid px-0 h-100">
    <div class="row py-3" id="titleArea">
      <!-- <div id="title">
        <h1>Cash</h1>
      </div> -->
      <div class="col-12 text-center">
        <span class="pb-1" id="title">It also reduces a lot of daily costs </span>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-10 mx-auto costList p-0">
        <div class="row">
          <div class="col-12 text-left">
            <span>
              <span class="p-0 le"><i class="fas fa-gas-pump"></i></span>Fuel<span class="p-0 le"><i class="fas fa-gas-pump"></i></span>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-right"><span><span class="p-0 le"><i class="fas fa-file-invoice-dollar"></i></span>Taxes<span class="p-0 le"><i class="fas fa-file-invoice-dollar"></i></span></span></div>
        </div>
        <div class="row">
          <div class="col-12 text-left"><span><span class="p-0 le"><i class="fas fa-parking"></i></span>Parking<span class="p-0 le"><i class="fas fa-parking"></i></span></span></div>
        </div>
        <div class="row">
          <div class="col-12 text-right"><span><span class="p-0 le"><i class="fas fa-ticket-alt"></i></span>Tolls<span class="p-0 le"><i class="fas fa-ticket-alt"></i></span></span></div>
        </div>
        <div class="row">
          <div class="col-12 text-left"><span><span class="p-0 le"><i class="fas fa-car-side"></i></span>Car maintenance<span class="p-0 le"><i class="fas fa-car-side"></i></span></span></div>
        </div>
      </div>
    </div>
  </div>
</section>
