<section id="money">
  <!-- <div class="wings"></div> -->
  <div class="container-fluid h-100">
    <div class="row pb-3" id="titleArea">
      <!-- <div id="title">
        <h1>Cash</h1>
      </div> -->
      <div class="col-12 text-center">
      <span id="title">Also it reduces a lot of daily costs  </span>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-10 mx-auto costList p-0">
        <div class="row">
          <div class="col-12 text-left"><span class="le"><img src="../../assets/imgs/wings_money.png" alt=""></span>Fuel</div>
        </div>
        <div class="row">
          <div class="col-12 text-right">Car maintenance<span class="le"><img src="../../assets/imgs/wings_money.png" alt=""></span></div>
        </div>
        <div class="row">
          <div class="col-12 text-left"><span class="le"><img src="../../assets/imgs/wings_money.png" alt=""></span>Parking</div>
        </div>
        <div class="row">
          <div class="col-12 text-right">Tolls<span class="le"><img src="../../assets/imgs/wings_money.png" alt=""></span></div>
        </div>
        <div class="row">
          <div class="col-12 text-left"><span class="le"><img src="../../assets/imgs/wings_money.png" alt=""></span>Taxes</div>
        </div>
      </div>
    </div>
  </div>
</section>
