<!-- <app-navbar></app-navbar> -->
<ng-container>
  <app-welcome></app-welcome>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sidenav
      mode="side"
      class="sidenav"
      fixedInViewport="true"
    >
    </mat-sidenav>

    <p class="m-0">
      <button mat-button (click)="sidenav.toggle()" class="ml-2">
        <mat-icon>menu_open</mat-icon>
      </button>
    </p>
  </mat-sidenav-container>


  <app-economy></app-economy>
  <app-friends></app-friends>
  <app-travel-conditions></app-travel-conditions>
  <app-traffic-jam></app-traffic-jam>
  <app-money></app-money>
  <app-apps></app-apps>
  <app-aboutme></app-aboutme>

</ng-container>
