#apps .container-fluid {
	width: 70%;

	min-height: 30em;

	padding: 9em 0;
}

#apps .container-fluid .appsTitle {
	font-size: 1.7em;
}

::ng-deep .mat-tab-label,
::ng-deep .mat-tab-link {
	color: whitesmoke !important;
}

// #apps .app_window {
// 	max-height: 10em;
// }

.uber_logo img {
	width: 25em;
	height: auto;
}

.uber_logo_short img {
	width: 13em;
	height: auto;

	margin: 0 6em;
}

.app_window {
	min-height: 25em;
}

.ulBox {
	width: calc(100% - 25em);
}

ul {
	list-style-type: none;
	font-size: 1.2em;
}

// md-pagination-wrapper {
// 	height: 30px;
// }
// md-tab-item {
// 	padding: 5px !important;
// }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
	#apps {
		// font-size: 1.8em;
		padding-bottom: 1em;

		height: 105vh;
	}
	#apps .container-fluid {
		width: 100%;
		padding: 0 0;
	}
	#apps .row {
		margin-left: 0;
		margin-right: 0;
	}
	#apps .col-12 {
		padding-left: 0;
		padding-right: 0;
	}
	.app_window span {
		text-align: center;
	}
	.app_window span img {
		width: 50%;
	}
	.ulBox {
		width: 100%;
		text-align: center;
	}
	ul {
		width: 100%;
		padding-left: 0;
		font-size: 1.4em;
	}
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
	.app_window span {
		text-align: center;
	}
	.app_window span img {
		width: 50%;
	}
	.ulBox {
		width: 100%;
		text-align: center;
	}
	ul {
		width: 100%;
		padding-left: 0;
		font-size: 1.4em;
	}
}
