
<section class="pb-5" id="apps">
  <div class="container-fluid">

    <div class="appsTitle pl-4 pb-3 pt-4 mt-4">
      <p class="m-0">Applications created for carpooling:</p>
    </div>

    <mat-tab-group mat-align-tabs="start">
      <mat-tab>
        <ng-template mat-tab-label>
          <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
          UBER
        </ng-template>
        <div class="row w-100 mx-0 d-flex align-items-center app_window">
          <span class="uber_logo"><img src="../../assets/imgs/uber_logo.png" alt=""></span>
          <div class="ulBox d-flex pl-5">
            <ul>
              <li>Operation Systems:</li>
              <li>Number of Users:</li>
              <li>Date of Creation:</li>
              <li>Countries:</li>
            </ul>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          BlaBlaCar
        </ng-template>
        <div class="row w-100 mx-0 d-flex align-items-center app_window">
          <span class="uber_logo"><img src="../../assets/imgs/blablacar_logo.png" alt=""></span>
          <div class="ulBox d-flex pl-5">
            <ul>
              <li>Operation Systems:</li>
              <li>Number of Users:</li>
              <li>Date of Creation:</li>
              <li>Countries:</li>
            </ul>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          SRIDE
        </ng-template>

        <div class="row w-100 mx-0 d-flex align-items-center app_window">
          <span class="uber_logo"><img src="../../assets/imgs/sride_logo.png" alt=""></span>
          <div class="ulBox d-flex pl-5">
            <ul>
              <li>Operation Systems:</li>
              <li>Number of Users:</li>
              <li>Date of Creation:</li>
              <li>Countries:</li>
            </ul>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
          togo
        </ng-template>
        <div class="row w-100 mx-0 d-flex align-items-center app_window">
          <span class="uber_logo_short"><img src="../../assets/imgs/togo_logo.png" alt=""></span>
          <div class="ulBox d-flex pl-5">
            <ul>
              <li>Operation Systems:</li>
              <li>Number of Users:</li>
              <li>Date of Creation:</li>
              <li>Countries:</li>
            </ul>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
          RYDE
        </ng-template>
        <div class="row w-100 mx-0 d-flex align-items-center app_window">
          <span class="uber_logo_short"><img src="../../assets/imgs/ryde_logo.png" alt=""></span>
          <div class="ulBox d-flex pl-5">
            <ul>
              <li>Operation Systems:</li>
              <li>Number of Users:</li>
              <li>Date of Creation:</li>
              <li>Countries:</li>
            </ul>
          </div>
        </div>
      </mat-tab>

    </mat-tab-group>

  </div>
</section>
