<section id="trafficJam">
  <div class="container-fluid d-flex align-items-start h-100">
    <div class="row pt-5" id="titileRow">
      <div id="title">
        <span>Traffic Jams</span>
      </div>

      <div class="col-4"></div>
      <div class="col-8">
        <p>
          Waiting on traffic jams waste a lot of time every morning. With carpooling you have someone to talk to in the meantime and number of cars decreases at once!
        </p>
        <!-- <p class="quote text-right w-100">
        “Strangers are just friends waiting to happen.” – Rod Mckuen
        </p> -->
      </div>
    </div>
  </div>
</section>
